<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mitteloupe.solid.activity">

    <application android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <activity android:name=".TestActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".TestChildActivity" />

    </application>

</manifest>
